<div class="board">
	<game-board-big-square board = "board" square-num="0"></game-board-big-square>
	<game-board-big-square board = "board" square-num="1"></game-board-big-square>
	<game-board-big-square board = "board" square-num="2"></game-board-big-square>
	
	<game-board-big-square board = "board" square-num="3"></game-board-big-square>
	<game-board-big-square board = "board" square-num="4"></game-board-big-square>
	<game-board-big-square board = "board" square-num="5"></game-board-big-square>
	
	<game-board-big-square board = "board" square-num="6"></game-board-big-square>
	<game-board-big-square board = "board" square-num="7"></game-board-big-square>
	<game-board-big-square board = "board" square-num="8"></game-board-big-square>


</div>