<div class="bigSquare">
	<game-board-space board = "board" square="squareNum" index = '0' is-valid='1'></game-board-space>
	<game-board-space board = "board" square="squareNum" index = '1' is-valid='1'></game-board-space>
	<game-board-space board = "board" square="squareNum" index = '2' is-valid='1'></game-board-space>
	
	<game-board-space board = "board" square="squareNum" index = '3' is-valid='1'></game-board-space>
	<game-board-space board = "board" square="squareNum" index = '4' is-valid='1'></game-board-space>
	<game-board-space board = "board" square="squareNum" index = '5' is-valid='1'></game-board-space>
	
	<game-board-space board = "board" square="squareNum" index = '6' is-valid='1'></game-board-space>
	<game-board-space board = "board" square="squareNum" index = '7' is-valid='1'></game-board-space>
	<game-board-space board = "board" square="squareNum" index = '8' is-valid='1'></game-board-space>
</div>